# Windows systems files and tmp files
*.log
*.class
*.bak
*.tmp
*.swp
*.ps1~
*.bat~
.DS_Store
.cache/
.history
Thumbs.db
ehthumbs.db
Desktop.ini

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
project/target/
project/project/
project/boot/
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
.bsp

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
.idea
.idea_modules
/.worksheet/
*.iml
out/

# Windows system folders
$RECYCLE.BIN/
System Volume Information/

# Scala CLI
.scala-build/
.scala_dependencies